#------------------------------------------------------------------------------
# File:         exiftool.config
#
# Description:  Configuration file for ExifTool, defines the following additional tags
#                  1.  GPS:GPSPitch
#                  2.  GPS:GPSRoll
#
# Notes:        The -config option of the exiftool application may be used to load a specific
#               configuration file (note that this must be the first option on the command line):
#
#                   exiftool -config exiftool.config ...
#
#------------------------------------------------------------------------------

# The %Image::ExifTool::UserDefined hash defines new tags to be added to existing tables.
%Image::ExifTool::UserDefined = (
    # additional GPS tags:
    'Image::ExifTool::GPS::Main' => {
        # GPS:GPSPitch
        0xd000 => {
            Name => 'GPSPitch',
            Writable => 'rational64s',
        },
        # GPS:GPSRoll
        0xd001 => {
            Name => 'GPSRoll',
            Writable => 'rational64s',
        },
    },
);

#------------------------------------------------------------------------------
1;  #end